@charset "UTF-8";

/*-------------------------
	reset
-------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
	background-color: #f7f4f0;
	color: #34322f;
	font-family: Arial, Roboto, "Droid Sans", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
	overflow: hidden;
}


/*-------------------------
	clearfix
-------------------------*/

.clearfix:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {
	display: inline-block;
	min-height: 1%;
}

*html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}

/*-------------------------
	header
-------------------------*/
.header{
	width: 100vw;
	height: 60px;
	margin-bottom: 20px;
	background-image: url('../images/united-logo.png');
	background-size:contain;
	background-repeat: no-repeat;
	background-position: center 5px;
}

.header-continer{
	width: 90vw;
	height: 60px;
	margin-left: 5vw;
}

.header-btn{
	box-sizing: border-box;
	width: 10vw;
	min-width:70px;
	height: 46px;
	background-color: #f19544;
	border-radius: 5px;
	color: white;
	text-align: center;
	line-height: 46px;
	margin-top: 20px; 
	cursor: pointer;
}

.member-btn{
	float: left;
}

.task-btn{
	float: right;
}

/*-------------------------
	.submit-container
-------------------------*/
.submit-container{
	display: none;
	position: absolute;
	box-sizing: border-box;
	width: 0;
	height: 100vh;
	right: 0;
	top: 0;
	background-color: #ddd;
}

.close-icon{
	position: relative;
	top: 10px;
	left: 10px;
	font-size: 24px;
	cursor: pointer;
}

.submit-form{
	margin-left: 2vw; 
	margin-top: 3vh;
}

.submit-contain{
	margin-bottom: 20px;
}

.submit-contain p{
	margin-bottom: 3px;
}

.submit-contain input,
.submit-contain textarea{
	width: 80%;
}


/*-------------------------
	.calendar-table
-------------------------*/

.calendar-month {
	width: 30%;
	margin-left:35%;
	margin-bottom: 20px;
	display: inline-block;
}

.month-btn {
	display: inline-block;
	box-sizing: border-box;
	width: 20%;
	text-align: center;
	border-radius: 4px;
	border:1px solid #ddd;
	background-color: #eee;
	cursor: pointer;
}

.calendar-table p {
	display: inline-block;
	width: 60%;
	text-align: center;
}

.calendar-table table {
	width: 91vw;
	margin: 0 auto;
	font-size: 80%;
	margin-bottom:20px;
}

.calendar-table tr {
	width: 100%;
}


.calendar-table tr td {
	width: 13vw;
	height: 15vh;
	box-sizing: border-box;
	padding:10px;
	border:1px solid #bbb;
}

.calendar-table .week-name {
	background-color: #ddd;
}


.calendar-table .week-name td {
	height:0px !important;
	text-align: center;
}

.line td:first-child {
	color: #e44820 !important;  
}

.line td:last-child {
	color: #185daa !important;
}

.calendar-list{
	margin-top: 5px;
}

.red {
	background-color: #d71b18  !important;
}

.blue {
	background-color: #0b396f  !important;
}

.text-red{
	color: #d71b18;
}

.text-orange {
	color: #f19544;
}

.text-blue {
	color: #61b5e0;
}

.text-white{
	color: white;
}
